<h1 class="text-3xl font-bold m-4">Locations</h1>

<form [formGroup]="formGroup" class="ml-4">
  <label class="form-control w-full max-w-xs">
    <div class="label"><span class="label-text">Area</span></div>
    <input class="input input-bordered w-full max-w-xs" type="text" placeholder="Area"
           [formControl]="formGroup.controls.area">
  </label>
  <label class="form-control w-full max-w-xs">
    <div class="label"><span class="label-text">Town</span></div>
    <input class="input input-bordered w-full max-w-xs" type="text" placeholder="Town"
           [formControl]="formGroup.controls.town">
  </label>
  <label class="form-control w-full max-w-xs">
    <div class="label"><span class="label-text">Address</span></div>
    <input class="input input-bordered w-full max-w-xs" type="text" placeholder="Address"
           [formControl]="formGroup.controls.address">
  </label>

  <button class="btn btn-accent mt-4" type="submit" (click)="postOrUpdate()">{{ this.id ? "Update" : "Create" }}
  </button>
</form>
